
#preload-01 { background: url('snipcursor.png') no-repeat -9999px -9999px; }
#preload-02 { background: url('erasecursor.png') no-repeat -9999px -9999px; }
#preload-03 { background: url('LoadIcon.PNG') no-repeat -9999px -9999px; }
#preload-04 { background: url('line.png') no-repeat -9999px -9999px; }
#preload-05 { background: url('lineactive.png') no-repeat -9999px -9999px; }
#preload-06 { background: url('constline.PNG') no-repeat -9999px -9999px; }
#preload-07 { background: url('constlineactive.png') no-repeat -9999px -9999px; }
#preload-08 { background: url('dimlines.PNG') no-repeat -9999px -9999px; }
#preload-09 { background: url('dimlinesactive.png') no-repeat -9999px -9999px; }
#preload-10 { background: url('dimangle.PNG') no-repeat -9999px -9999px; }
#preload-11 { background: url('dimangleactive.png') no-repeat -9999px -9999px; }
#preload-12 { background: url('hvsnap.png') no-repeat -9999px -9999px; }
#preload-13 { background: url('hvsnapactive.png') no-repeat -9999px -9999px; }
#preload-14 { background: url('snip.PNG') no-repeat -9999px -9999px; }
#preload-15 { background: url('snipactive.PNG') no-repeat -9999px -9999px; }
#preload-16 { background: url('erase.PNG') no-repeat -9999px -9999px; }
#preload-17 { background: url('eraseactive.png') no-repeat -9999px -9999px; }
#preload-18 { background: url('Fillet.PNG') no-repeat -9999px -9999px; }
#preload-19 { background: url('Filletactive.png') no-repeat -9999px -9999px; }
#preload-20 { background: url('clear.PNG') no-repeat -9999px -9999px; }
#preload-21 { background: url('undo.PNG') no-repeat -9999px -9999px; }
#preload-22 { background: url('Redo.PNG') no-repeat -9999px -9999px; }
#preload-23 { background: url('cancel.png') no-repeat -9999px -9999px; }
#preload-24 { background: url('cancelactive.png') no-repeat -9999px -9999px; }
#preload-23 { background: url('contexthelpbtn.png') no-repeat -9999px -9999px; }
#preload-24 { background: url('contexthelpbtnactive.png') no-repeat -9999px -9999px; }

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}


body{
    caret-color: transparent;
    touch-action: none;
    margin:0;
    padding:0;
	margin-top: 3px;
	background-color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: crosshair;
}

.loader {
  visibility: hidden;
  border: 6px solid #dedede;
  border-radius: 50%;
  border-top: 6px solid #0086CF;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loaderholder{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.smokescreen{
     background-color: gray;
     opacity: .8;
     visibility: hidden;
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 100%;
     z-index: 997;
     cursor: not-allowed;
}

.prealert{
    cursor: default;
    visibility: hidden;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 255px;
    height: 95px;
    border: none;
    background-color: white;
    color: black;
    text-align: left;
    z-index: 998;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.precisionselection{
    position: relative;
    top: 6px;
    left: 195px;
    z-index: 991;
    font-family: Consolas, monaco, monospace;
}

select{
font-size: 16px;
}

.prexbtn{
    position: relative;
    background: transparent;
    top: 3px;
    left: 135px;
	border: none;
	height: 15px;
	width: 15px;
    cursor: pointer;
	background-image:url('cancel.png');
	background-repeat:no-repeat;
	background-size: 75%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    z-index: 999-10;
    position: absolute;
    top: 50%;
    left: 96%;
    transform: translate(-50%, -50%);
}

.prexbtn:hover{
    position: relative;
    background: transparent;
    top: 3px;
    left: 135px;
	border: none;
	height: 15px;
	width: 15px;
    cursor: pointer;
	background-image:url('cancelactive.png');
	background-repeat:no-repeat;
	background-size: 75%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    position: absolute;
    top: 50%;
    left: 96%;
    transform: translate(-50%, -50%);
}

.pregrab{
    cursor: default;
    visibility: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: none;
    width: 255px;
    height: 25px;
    background-color: #dedede;
    color: black;
    text-align: left;
    z-index: 998;
    margin: 0;
    position: absolute;
    top: -25px;
    left: 0%;
    font-family: Consolas, monaco, monospace;
    font-size: 12pt;
    text-align: center;
}

.prehelpbtn{
    position: relative;
    background: transparent;
	border: none;
	height: 17px;
	width: 17px;
    cursor: pointer;
	background-image:url('contexthelpbtn.png');
	background-repeat:no-repeat;
	background-size: 75%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 89%;
    transform: translate(-50%, -50%);
}

.prehelpbtn:hover{
    position: relative;
    background: transparent;
	border: none;
	height: 17px;
	width: 17px;
    cursor: pointer;
	background-image:url('contexthelpbtnactive.png');
	background-repeat:no-repeat;
	background-size: 75%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 89%;
    transform: translate(-50%, -50%);
}

.preokbtn{
    visibility: hidden;
    font-family: Consolas, monaco, monospace;
    position: absolute;
    left: 40px;
    bottom: 10px;
	height: 25px;
	width: 75px;
    background: #dedede;
    z-index: 999;
    border: none;
    border-radius: 3px;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}

.preokbtn:hover{
    visibility: hidden;
    font-family: Consolas, monaco, monospace;
    position: absolute;
    left: 40px;
    bottom: 10px;
	height: 25px;
	width: 75px;
    background: gray;
    z-index: 999;
    border: none;
    border-radius: 3px;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}

.precancelbtn{
    visibility: hidden;
    font-family: Consolas, monaco, monospace;
    position: absolute;
    right: 40px;
    bottom: 10px;
	height: 25px;
	width: 75px;
    background: #dedede;
    z-index: 999;
    border: none;
    border-radius: 3px;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}

.precancelbtn:hover{
    visibility: hidden;
    font-family: Consolas, monaco, monospace;
    position: absolute;
    right: 40px;
    bottom: 10px;
	height: 25px;
	width: 75px;
    background: gray;
    z-index: 999;
    border: none;
    border-radius: 3px;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}

.prealerttext{
    font-family: Consolas, monaco, monospace;
    text-size: 10pt;
    visibility: hidden;
    position: absolute;
    top: 6%;
    left: 7px;
	height: 35px;
	width: 230px;
	border: none;
    background: white;
    resize: none;
    white-space: pre-wrap;
    outline: none;
    z-index: 990;
}

.preheader{
    font-family: Consolas, monaco, monospace;
    font-size: 10pt;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%);
    border: none;
    background: #dedede;
    resize: none;
    z-index: 999;
}

.clearalert{
    cursor: default;
    visibility: hidden;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 310px;
    height: 125px;
    border: none;
    background-color: white;
    color: black;
    text-align: left;
    z-index: 998;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cleargrab{
    cursor: default;
    visibility: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: none;
    width: 310px;
    height: 25px;
    background-color: #dedede;
    color: black;
    text-align: left;
    z-index: 998;
    margin: 0;
    position: absolute;
    top: -25px;
    left: 0%;
    font-family: Consolas, monaco, monospace;
    font-size: 12pt;
    text-align: center;
}

.clearhelpbtn{
    position: relative;
    background: transparent;
    top: 3.5px;
    left: 97px;
	border: none;
	height: 17px;
	width: 17px;
    cursor: pointer;
	background-image:url('contexthelpbtn.png');
	background-repeat:no-repeat;
	background-size: 75%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.clearhelpbtn:hover{
    position: relative;
    background: transparent;
    top: 3.5px;
    left: 97px;
	border: none;
	height: 17px;
	width: 17px;
    cursor: pointer;
	background-image:url('contexthelpbtnactive.png');
	background-repeat:no-repeat;
	background-size: 75%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.clearokbtn{
    visibility: hidden;
    font-family: Consolas, monaco, monospace;
    position: absolute;
    left: 67.5px;
    bottom: 10px;
	height: 25px;
	width: 75px;
    background: #dedede;
    z-index: 999;
    border: none;
    border-radius: 3px;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}

.clearokbtn:hover{
    visibility: hidden;
    font-family: Consolas, monaco, monospace;
    position: absolute;
    left: 67.5px;
    bottom: 10px;
	height: 25px;
	width: 75px;
    background: gray;
    z-index: 999;
    border: none;
    border-radius: 3px;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}

.clearcancelbtn{
    visibility: hidden;
    font-family: Consolas, monaco, monospace;
    position: absolute;
    left: 167.5px;
    bottom: 10px;
	height: 25px;
	width: 75px;
    background: #dedede;
    z-index: 999;
    border: none;
    border-radius: 3px;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}

.clearcancelbtn:hover{
    visibility: hidden;
    font-family: Consolas, monaco, monospace;
    position: absolute;
    left: 167.5;
    bottom: 10px;
	height: 25px;
	width: 75px;
    background: gray;
    z-index: 999;
    border: none;
    border-radius: 3px;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}

.clearalerttext{
    font-family: Consolas, monaco, monospace;
    text-size: 10pt;
    visibility: hidden;
    position: absolute;
    top: 12%;
    left: 7px;
	height: 75px;
	width: 280px;
	border: none;
    background: white;
    resize: none;
    white-space: pre-wrap;
    outline: none;
    z-index: 990;
}

.clearheader{
    font-family: Consolas, monaco, monospace;
    font-size: 10pt;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    border: none;
    background: #dedede;
    resize: none;
    z-index: 999;
}

.firstinput {
    visibility: hidden;
    position: relative;
    left: 250px;
    top: 7px;
    border: 1px #dedede;
    z-index: 999;
    border: 1px solid black;
}

.firstdimalert{
    cursor: default;
    visibility: hidden;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 325px;
    height: 90px;
    border: none;
    background-color: white;
    color: black;
    text-align: left;
    z-index: 998;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.firstdimgrab{
    cursor: default;
    visibility: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: none;
    width: 325px;
    height: 25px;
    background-color: #dedede;
    color: black;
    text-align: left;
    z-index: 998;
    margin: 0;
    position: absolute;
    top: -25px;
    left: 0%;
    font-family: Consolas, monaco, monospace;
    font-size: 12pt;
    text-align: center;
}

.firstdimhelpbtn{
    position: relative;
    background: transparent;
    top: 3.5px;
    left: 97px;
	border: none;
	height: 17px;
	width: 17px;
    cursor: pointer;
	background-image:url('contexthelpbtn.png');
	background-repeat:no-repeat;
	background-size: 75%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.firstdimhelpbtn:hover{
    position: relative;
    background: transparent;
    top: 3.5px;
    left: 97px;
	border: none;
	height: 17px;
	width: 17px;
    cursor: pointer;
	background-image:url('contexthelpbtnactive.png');
	background-repeat:no-repeat;
	background-size: 75%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.firstdimokbtn{
    visibility: hidden;
    font-family: Consolas, monaco, monospace;
    position: absolute;
    left: 75px;
    bottom: 10px;
	height: 25px;
	width: 75px;
    background: #dedede;
    z-index: 999;
    border: none;
    border-radius: 3px;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}

.firstdimokbtn:hover{
    visibility: hidden;
    font-family: Consolas, monaco, monospace;
    position: absolute;
    left: 75px;
    bottom: 10px;
	height: 25px;
	width: 75px;
    background: gray;
    z-index: 999;
    border: none;
    border-radius: 3px;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}

.firstdimcancelbtn{
    visibility: hidden;
    font-family: Consolas, monaco, monospace;
    position: absolute;
    left: 175px;
    bottom: 10px;
	height: 25px;
	width: 75px;
    background: #dedede;
    z-index: 999;
    border: none;
    border-radius: 3px;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}

.firstdimcancelbtn:hover{
    visibility: hidden;
    font-family: Consolas, monaco, monospace;
    position: absolute;
    left: 175px;
    bottom: 10px;
	height: 25px;
	width: 75px;
    background: gray;
    z-index: 999;
    border: none;
    border-radius: 3px;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}

.firstdimalerttext{
    font-family: Consolas, monaco, monospace;
    text-size: 10pt;
    visibility: hidden;
    position: absolute;
    top: 12%;
    left: 7px;
	height: 50px;
	width: 275px;
	border: none;
    background: white;
    resize: none;
    white-space: pre-wrap;
    outline: none;
    z-index: 990;
}

.firstdimheader{
    font-family: Consolas, monaco, monospace;
    font-size: 10pt;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    border: none;
    background: #dedede;
    resize: none;
    z-index: 999;
}

.erroralert{
    cursor: default;
    visibility: hidden;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 300px;
    height: 200px;
    border: none;
    background-color: white;
    color: black;
    text-align: left;
    z-index: 999;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.errorgrab{
    cursor: default;
    visibility: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: none;
    width: 300px;
    height: 25px;
    background-color: #dedede;
    color: black;
    text-align: left;
    z-index: 998;
    margin: 0;
    position: absolute;
    top: -25px;
    left: 0%;
    font-family: Consolas, monaco, monospace;
    font-size: 12pt;
    text-align: center;
}

.errorreshelpbtn{
    position: relative;
    background: transparent;
    top: 3.5px;
    left: 97px;
	border: none;
	height: 17px;
	width: 17px;
    cursor: pointer;
	background-image:url('contexthelpbtn.png');
	background-repeat:no-repeat;
	background-size: 75%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.errorreshelpbtn:hover{
    position: relative;
    background: transparent;
    top: 3.5px;
    left: 97px;
	border: none;
	height: 17px;
	width: 17px;
    cursor: pointer;
	background-image:url('contexthelpbtnactive.png');
	background-repeat:no-repeat;
	background-size: 75%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.errorokbtn{
    visibility: hidden;
    font-family: Consolas, monaco, monospace;
    position: absolute;
    left: 112.5px;
    bottom: 10px;
	height: 25px;
	width: 75px;
    background: #dedede;
    z-index: 999;
    border: none;
    border-radius: 3px;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}

.errorokbtn:hover{
    visibility: hidden;
    font-family: Consolas, monaco, monospace;
    position: absolute;
    left: 112.5px;
    bottom: 10px;
	height: 25px;
	width: 75px;
    background: gray;
    z-index: 999;
    border: none;
    border-radius: 3px;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}


.erroralerttext{
    font-family: Consolas, monaco, monospace;
    text-size: 10pt;
    visibility: hidden;
    position: absolute;
    top: 3%;
    left: 7px;
	height: 150px;
	width: 270px;
	border: none;
    background: white;
    resize: none;
    white-space: pre-wrap;
    outline: none;
    z-index: 990;
}

.errorheader{
    font-family: Consolas, monaco, monospace;
    font-size: 10pt;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(-50%, -50%);
    border: none;
    background: #dedede;
    resize: none;
    z-index: 999;
}

.welcome{
    cursor: default;
    visibility: hidden;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 350px;
    height: 275px;
    background-color: white;
    color: black;
    text-align: left;
    z-index: 998;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcometxt{
    font-family: Consolas, monaco, monospace;
    position: absolute;
    width: 325px;
    height: 220px;
    text-align: center;
    border: none;
    bottom: 45px;
    left: 12.5px;
    font-size: 10pt;
}
.welcomegrab{
    visibility: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px;
    border: none;
    width: 100%;
    height: 25px;
    background-color: #dedede;
    color: black;
    z-index: 998;
    margin: 0;
    position: absolute;
    top: -25px;
    left: 0%;
    font-family: Consolas, monaco, monospace;
    font-size: 11pt;
    text-align: center;
}

.okbtn{
    visibility: hidden;
    font-family: Consolas, monaco, monospace;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
	height: 25px;
	width: 75px;
    background: #dedede;
    border: none;
    border-radius: 3px;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}

.okbtn:hover{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
	height: 25px;
	width: 75px;
    background: gray;
    border: 1px #dedede solid;
    border-radius: 3px;
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}

.welcomeheader{
    font-family: Consolas, monaco, monospace;
    font-size: 10pt;
    visibility: hidden;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: #dedede;
    text-align: center;
    resize: none;
    z-index: 999;
}

.welcomecancelbtn{
    visibility: hidden;
    position: relative;
    background: transparent;
    top: 3px;
    left: 135px;
	border: none;
    cursor: pointer;
	height: 15px;
	width: 15px;
	background-image:url('cancel.png');
	background-repeat:no-repeat;
	background-size: 75%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 97%;
    transform: translate(-50%, -50%);
}

.welcomecancelbtn:hover{
    visibility: visible;
    position: relative;
    background: transparent;
    top: 3px;
    left: 135px;
	border: none;
	height: 15px;
	width: 15px;
    cursor: pointer;
	background-image:url('cancelactive.png');
	background-repeat:no-repeat;
	background-size: 75%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 97%;
    transform: translate(-50%, -50%);
}

.results{
    cursor: default;
    visibility: hidden;
    border-radius: 6px;
    width: 162px;
    height: 162px;
    border: 3px white solid;
    background-color: #dedede;
    color: black;
    text-align: left;
    z-index: 998-10;
    margin: 0;
    position: absolute;
    top: 60px;
    right: 10px;
}

.resultskeepout{
    cursor: default;
    visibility: hidden;
    width: 162px;
    height: 136px;
    background-color: transparent;
    color: black;
    text-align: left;
    z-index: 995-10;
    margin: 0;
    position: absolute;
    top: 25px;
    left: 0px;
}

.resultsheader{
    font-family: Consolas, monaco, monospace;
    font-size: 10pt;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    border: none;
    background: gray;
    resize: none;
    z-index: 999-10;
}

.resultsgrab{
    cursor: pointer;
    visibility: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: none;
    width: 162px;
    height: 25px;
    background-color: gray;
    color: black;
    text-align: left;
    z-index: 998-10;
    margin: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    font-family: Consolas, monaco, monospace;
    font-size: 12pt;
    text-align: center;
}

.cancelbtn{
    position: relative;
    background: transparent;
    top: 3px;
    left: 135px;
	border: none;
	height: 15px;
	width: 15px;
    cursor: pointer;
	background-image:url('cancel.png');
	background-repeat:no-repeat;
	background-size: 75%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    z-index: 999-10;
    position: absolute;
    top: 50%;
    left: 91%;
    transform: translate(-50%, -50%);
}

.cancelbtn:hover{
    position: relative;
    background: transparent;
    top: 3px;
    left: 135px;
	border: none;
	height: 15px;
	width: 15px;
    cursor: pointer;
	background-image:url('cancelactive.png');
	background-repeat:no-repeat;
	background-size: 75%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    position: absolute;
    top: 50%;
    left: 91%;
    transform: translate(-50%, -50%);
}

.reshelpbtn{
    position: relative;
    background: transparent;
    top: 3.5px;
    left: 97px;
	border: none;
	height: 17px;
	width: 17px;
    cursor: pointer;
	background-image:url('contexthelpbtn.png');
	background-repeat:no-repeat;
	background-size: 75%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    z-index: 999-10;
    position: absolute;
    top: 50%;
    left: 79%;
    transform: translate(-50%, -50%);
}

.reshelpbtn:hover{
    position: relative;
    background: transparent;
    top: 3.5px;
    left: 97px;
	border: none;
	height: 17px;
	width: 17px;
    cursor: pointer;
	background-image:url('contexthelpbtnactive.png');
	background-repeat:no-repeat;
	background-size: 75%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    z-index: 999-10;
    position: absolute;
    top: 50%;
    left: 79%;
    transform: translate(-50%, -50%);
}

.outputpopuptext{
    font-family: Consolas, monaco, monospace;
    font-size: 9pt;
    visibility: hidden;
    position: absolute;
    border-radius: 12px;
    top: 17%;
    left: 6%;
	height: 130px;
	width: 140px;
    border: none;
    background: #dedede;
    resize: none;
    white-space: pre-wrap;
    outline: none;
    z-index: 990-10;
}

.snipcursor{
    visibility: hidden;
    width: 20px;
    height: 20px;
    position: fixed;
    top: 14px;
    left: -1px;
	background-image:url('snipcursor.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.erasecursor{
    visibility: hidden;
    width: 20px;
    height: 20px;
    position: fixed;
    top: 14px;
    left: -1px;
	background-image:url('erasecursor.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.custom-file-upload {
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
	height: 23px;
	width: 23px;
	background-image:url('LoadIcon.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
}

.custom-file-upload:hover {
    position: relative;
    top: 0px;
    left: 3px;
	border: none;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
	height: 23px;
	width: 23px;
	background-image:url('LoadIcon.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
}

.custom-file-uploadtooltip{
    visibility: hidden;
    width: 200px;
    color: black;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.custom-file-upload:hover .custom-file-uploadtooltip{
  visibility: visible;
}


input[type="file"] {
    display: none;
}

.inputbox {
    color: transparent;
	background-color : #dedede;/* #d4d4d4;*/
	border : none;
	z-index: 5;
	left: 200px;
	top: 200px;
}

input:invalid {
    box-shadow: none;
}

#canvas-container {
	position:absolute;
	width: 100%;
	text-align:center;
	margin-top: 0px;
}

canvas {
	display: inline;
	/*
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	background: white;
	margin:0;
	/*
    margin-top: 46px;
    margin-bottom: 50px;
    */
    padding: 0;
}

#menubar {
    position: fixed;
	top: 0;
	left: 0px;
	width: 100%;
	height: 53px;
	margin: 0;
	background: #dedede; /*white; /*#d4d4d4;*/
	border-bottom: 0px solid black;
	z-index:888;
	cursor: default;

    /*
	position: fixed;
	top: 0;
	height: 48px;
	margin: 0 auto;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	z-index:999;
    margin: auto;
    width: 100%;
    padding: 0px;
    background-color:#d4d4d4;
    max-width: 1200px;
    left: 50%;
    transform: translate(-50%, 0);
    */
}

#toolsmenu{
    font-family: Consolas, monaco, monospace;
	padding-top: 0px;
	position: fixed;
	top: 54px;
	height: 410px;
	margin: 0px;
	z-index:900;
    width: 30px;
    padding-left: 5px;
    background-color:white; /*#d4d4d4;*/
    left: -1px;
}

#toolsmenuinner{
	padding-top: 5px;
    font-family: Consolas, monaco, monospace;
}

#toolsmenuouter {
    font-family: Consolas, monaco, monospace;
	padding-top: 0px;
	position: fixed;
	top: 0;
	z-index:888;
	height: 182px;
	margin: 0 auto;
    width: 100%;
    padding: 0px;
    max-width: 1200px;
    left: 50%;
    transform: translate(-50%, 0);
}

#dwgmenu{
	position: absolute;
	height: 48px;
	width: 70px;
	margin: 0px;
	/*
	border-right: 2px solid black;
	*/
	margin-left: 0px;
	background-color: gray; /*#d4d4d4;*/
	padding:0px;
}

#analysismenu{
	position: absolute;
	height: 48px;
	width: 50px;
	margin: 0 auto;
	/*
    /*border-right: 2px solid black;*/
	margin-left: 75px;
	background-color: #d4d4d4;
}

#inputbox{
    color: transparent;
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
}

#lines{
	position: absolute;
	top: 2px;
	left: 4px;
}

.linesbtn{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('line.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.linesbtnactive{
    position: relative;
    top: 0px;
    left: 0px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('lineactive.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.linesbtn:hover{
    position: relative;
    top: 0px;
    left: 3px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('line.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.linesbtnactive:hover{
    position: relative;
    top: 0px;
    left: 0px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('lineactive.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.linesbtntooltip{
    font-family: Consolas, monaco, monospace;
    visibility: hidden;
    width: 200px;
    color: black;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.linesbtn:hover .linesbtntooltip{
  visibility: visible;
}

.linesbtnactive:hover .linesbtntooltip{
  visibility: hidden;
}

.constlinesbtn{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('constline.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.constlinesbtnactive{
    position: relative;
    top: 0px;
    left: 0px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('constlineactive.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.constlinesbtn:hover{
    position: relative;
    top: 0px;
    left: 3px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('constline.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.constlinesbtnactive:hover{
    position: relative;
    top: 0px;
    left: 0px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('constlineactive.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.constlinesbtntooltip{
    font-family: Consolas, monaco, monospace;
    visibility: hidden;
    width: 200px;
    color: black;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.constlinesbtn:hover .constlinesbtntooltip{
  visibility: visible;
}

.constlinesbtnactive:hover .constlinesbtntooltip{
  visibility: hidden;
}

.dimlinesbtn{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('dimlines.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.dimlinesbtnactive{
    position: relative;
    top: 0px;
    left: 0px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('dimlinesactive.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.dimlinesbtn:hover{
    position: relative;
    top: 0px;
    left: 3px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('dimlines.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.dimlinesbtnactive:hover{
    position: relative;
    top: 0px;
    left: 0px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('dimlinesactive.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.dimlinesbtntooltip{
    font-family: Consolas, monaco, monospace;
    visibility: hidden;
    width: 200px;
    color: black;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.dimlinesbtn:hover .dimlinesbtntooltip{
  visibility: visible;
}

.dimlinesbtnactive:hover .dimlinesbtntooltip{
  visibility: hidden;
}

.dimanglesbtn{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('dimangle.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.dimanglesbtnactive{
    position: relative;
    top: 0px;
    left: 0px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('dimangleactive.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.dimanglesbtn:hover{
    position: relative;
    top: 0px;
    left: 3px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('dimangle.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.dimanglesbtnactive:hover{
    position: relative;
    top: 0px;
    left: 0px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('dimangleactive.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.dimanglesbtntooltip{
    font-family: Consolas, monaco, monospace;
    visibility: hidden;
    width: 220px;
    color: black;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.dimanglesbtn:hover .dimanglesbtntooltip{
  visibility: visible;
}

.dimanglesbtnactive:hover .dimanglesbtntooltip{
  visibility: hidden;
}

.clearbtn{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('clear.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.clearbtn:hover{
    position: relative;
    top: 0px;
    left: 3px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('clear.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.clearbtntooltip{
    font-family: Consolas, monaco, monospace;
    visibility: hidden;
    width: 220px;
    color: black;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.clearbtn:hover .clearbtntooltip{
  visibility: visible;
}

.undobtn{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('undo.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.undobtn:hover{
    position: relative;
    top: 0px;
    left: 3px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('undo.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.undobtntooltip{
    font-family: Consolas, monaco, monospace;
    visibility: hidden;
    width: 220px;
    color: black;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.undobtn:hover .undobtntooltip{
  visibility: visible;
}

.redobtn{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('Redo.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.redobtn:hover{
    position: relative;
    top: 0px;
    left: 3px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('Redo.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.redobtntooltip{
    font-family: Consolas, monaco, monospace;
    visibility: hidden;
    width: 220px;
    color: black;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.redobtn:hover .redobtntooltip{
  visibility: visible;
}

.snaphvbtn{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('hvsnap.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
    outline-color: transparent;
    outline-style: none;
}

.snaphvbtnactive{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('hvsnapactive.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.snaphvbtn:hover{
    position: relative;
    top: 0px;
    left: 3px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('hvsnap.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.snaphvbtnactive:hover{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('hvsnapactive.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.snaphvbtntooltip{
    font-family: Consolas, monaco, monospace;
    visibility: hidden;
    width: 200px;
    color: black;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.snaphvbtn:hover .snaphvbtntooltip{
  visibility: visible;
}

.snaphvbtnactive:hover .snaphvbtntooltip{
  visibility: hidden;
}

.snipbtn{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('snip.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.snipbtnactive{
    position: relative;
    top: 0px;
    left: 0px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('snipactive.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.snipbtnactive:hover{
    position: relative;
    top: 0px;
    left: 0px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('snipactive.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.snipbtn:hover{
    position: relative;
    top: 0px;
    left: 3px;
	border: none; /*1px solid black;*/
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('snip.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.snipbtntooltip{
    font-family: Consolas, monaco, monospace;
    visibility: hidden;
    width: 200px;
    color: black;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.snipbtn:hover .snipbtntooltip{
  visibility: visible;
}

.snipbtnactive:hover .snipbtntooltip{
  visibility: hidden;
}

.erasebtn{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('erase.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.erasebtnactive{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('eraseactive.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.erasebtn:hover{
    position: relative;
    top: 0px;
    left: 3px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('erase.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.erasebtnactive:hover{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('eraseactive.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.erasebtntooltip{
    font-family: Consolas, monaco, monospace;
    visibility: hidden;
    width: 200px;
    color: black;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.erasebtn:hover .erasebtntooltip{
  visibility: visible;
}

.erasebtnactive:hover .erasebtntooltip{
  visibility: hidden;
}
.srpbtn{
    position: relative;
    top: 51px;
    left: 2px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('srp.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.srpbtnactive{
    position: relative;
    top: 51px;
    left: 2px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('srpactive.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

#fillets{
	position: absolute;
	top: 2px;
	left: 0px;
}

.filletsbtn{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('Fillet.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.filletsbtnactive{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('Filletactive.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.filletsbtn:hover{
    position: relative;
    top: 0px;
    left: 3px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('Fillet.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.filletsbtnactive:hover{
    position: relative;
    top: 0px;
    left: 0px;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('Filletactive.png');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.filletsbtntooltip{
    font-family: Consolas, monaco, monospace;
    visibility: hidden;
    width: 200px;
    color: black;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.filletsbtn:hover .filletsbtntooltip{
  visibility: visible;
}

.filletsbtnactive:hover .filletsbtntooltip{
  visibility: hidden;
}

.filletsInput{
    font-family: Consolas, monaco, monospace;
    visibility: hidden;
    border-radius: 2px;
    border: none;
    width: 100px;
    height: 28px;
    background-color: #dedede;
    color: black;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 0px;
    padding-left: 5px;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.filletRadius{
    width: 30px;
    position: absolute;
    left: 53px;
    top: 3px;
}

.filletsbtnactive .filletsInput{
  visibility: visible;
}


#chamfers{
	position: absolute;
	top: 2px;
	left: 50px;
}

.chamfersbtn{
    position: relative;
    top: 44px;
    left: -48px;
	border: 1px solid black;
	height: 20px;
	width: 20px;
	background-image:url('Chamfer.PNG');
	background-repeat:no-repeat;
	background-size: 105%;
	display:inline-block;
}

.chamfersbtnactive{
    position: relative;
    top: 44px;
    left: -48px;
	border: 1px solid black;
	height: 20px;
	width: 20px;
	background-image:url('Chamferactive.png');
	background-repeat:no-repeat;
	background-size: 105%;
	display:inline-block;
}

#inputbox{
    color: transparent;
	left: 100px;
	top: 100px;
	background-color: white; /*#d4d4d4;*/
	z-index: 999;
}

#inputboxlbl{
	left: 3px;
	top: 5px
}

#Fx{
	position: absolute;
	left: 22px;
	top: 2px
}

#Fxlbl{
   	position: absolute;
	left: 2px;
	top: 4px
}

#Fy{
	position: absolute;
	left: 86px;
	top: 2px
}

#Fylbl{
   	position: absolute;
	left: 66px;
	top: 4px
}

#Fz{
	position: absolute;
	left: 150px;
	top: 2px
}

#Fzlbl{
   	position: absolute;
	left: 130px;
	top: 4px
}

#Mx{
	position: absolute;
	left: 22px;
	top: 25px
}

#Mxlbl{
   	position: absolute;
	left: 2px;
	top: 27px
}

#My{
	position: absolute;
	left: 86px;
	top: 25px
}

#Mylbl{
   	position: absolute;
	left: 66px;
	top: 27px
}

#run{
	position: absolute;
	left: 0px;
	top: 2px
}

#stab{
	position: absolute;
	left: 191px;
	top: 3px
}

#stablbl{
	position: absolute;
	left: 210px;
	top: 4px
}

#nonstab{
	position: absolute;
	left: 191px;
	top: 26px;
}

#nonstablbl{
	position: absolute;
	left: 210px;
	top: 27px;
}


#filemenu{
	position: absolute;
	height: 48px;
	width:176px;
	margin: 0px auto;
	/*border-right: 2px solid black;*/
	margin-left: 72px;
	background-color: white; /*#d4d4d4;*/
	padding:0px;
}

#choose{
	position: absolute;
	left: 2px;
	top: 2px
}

#load{
	position: absolute;
	left: 2px;
	top: 25px
}

#save{
	position: absolute;
	left: 2px;
	top:0px;
}

.savebtn{
    position: relative;
    top: 0px;
    left: 0px;
    cursor: pointer;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('SaveIcon.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.savebtn:hover{
    position: relative;
    top: 0px;
    left: 3px;
    cursor: pointer;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('SaveIcon.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.savebtntooltip{
    font-family: Consolas, monaco, monospace;
    visibility: hidden;
    width: 200px;
    color: black;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.savebtn:hover .savebtntooltip{
  visibility: visible;
}


.precisionbtn{
    position: relative;
    top: 0px;
    left: 0px;
    cursor: pointer;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('PrecisionButton.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.precisionbtn:hover{
    position: relative;
    top: 0px;
    left: 3px;
    cursor: pointer;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('PrecisionButton.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.precisionbtntooltip{
    font-family: Consolas, monaco, monospace;
    visibility: hidden;
    width: 200px;
    color: black;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.precisionbtn:hover .precisionbtntooltip{
  visibility: visible;
}


.helpbtn{
    position: relative;
    top: 0px;
    left: 0px;
    cursor: pointer;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('HelpButton.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.helpbtn:hover{
    position: relative;
    top: 0px;
    left: 3px;
    cursor: pointer;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('HelpButton.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.helpbtntooltip{
    font-family: Consolas, monaco, monospace;
    visibility: hidden;
    width: 200px;
    color: black;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.helpbtn:hover .helpbtntooltip{
  visibility: visible;
}

.gobtn{
    position: relative;
    top: 0px;
    left: 0px;
    cursor: pointer;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('gobtn.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.gobtn:hover{
    position: relative;
    top: 0px;
    left: 3px;
    cursor: pointer;
	border: none;
	height: 25px;
	width: 25px;
    cursor: pointer;
	background-image:url('gobtn.PNG');
	background-repeat:no-repeat;
	background-size: 100%;
	display:inline-block;
    outline-color: transparent;
    outline-style: none;
}

.gobtntooltip{
    font-family: Consolas, monaco, monospace;
    visibility: hidden;
    width: 200px;
    color: black;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 999;
}

.gobtn:hover .gobtntooltip{
  visibility: visible;
}

.outputBox{
    touch-action: none;
}


.outputboxcl{
    touch-action: none;
    font-family: Consolas, monaco, monospace;
    position: absolute;
    right: 100px;
    width: calc(100% - 108px);
	top: 0px;
    height: 48px;
    border: none;
    background: #dedede;
    resize: none;
    font-size: 13px;
    cursor: default;
}

#outputboxinner{
    touch-action: none;
    font-family: Consolas, monaco, monospace;
    position:fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	max-width: 1195.7px;
	max-height: 1135px;
    margin: 0px;
    padding: 0px;
    left: 50%;
    transform: translate(-50.35%, 0px);
    cursor: default;
}

.outputboxcl:focus {
  outline-color: transparent;
  outline-style: none;
  cursor: default;
}

#logospace{
    touch-action: none;
	position: absolute;
	right: 15px;
	top: 4px;
	height: 47px;
	width: 100px;
	text-align: left;
	line-height: 17px;
	padding: 0px;
	background-image:url('Logo.png');
	background-repeat:no-repeat;
	background-size: 120%;
	cursor: pointer;
}

#sensorsmenu{
	position: absolute;
	left: 385px;
	height: 46px;
	width: 84px;
	text-align: center;
	background-color: white; /*#d4d4d4;*/
    /*border-right: 2px solid black;*/
}

#Precision{
	position: absolute;
	left: 2px;
	top: 2px;
}

#Help{
	position: absolute;
	left: 2px;
	top: 25px;
}


.copyright{
	margin-top: 25px;
	text-align: center;
}

p{
	padding-left: 25px;
	padding-right: 25px
}

h3{
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
}

h4{
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
}


.projectcontainer {
    position: relative;
    text-align: center;
}

.projectimg{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 25px;
    width: 50%;
}

.smallimg{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
    width: 35%;
}

.threeinarow{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 25px;
    width: 75%;
}

.projectimg-wd{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 25px;
    width: 90%;
}

.caption{
text-align: center;
font-weight: bold;
margin-bottom: 25px;
}

.metaprojectcontainer {
	margin: 25px;
}


.row {
	clear:both;
}

.resumeembed{
width: 820px;
margin-left: auto ;
margin-right: auto ;
}


.hoverimg:hover{
	border:solid;
}


.row:after{
	clear:both;
	padding: 0;
	}

.col{
	float: left;
	margin: 1%;
	width: 30%;
	padding: 0;
}

